@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    padding:0;
    box-sizing:border-box;
    margin: 0;
    font-family: 'Jua', sans-serif;
}

.container{
    display: flex ;
    flex-direction: row;
}

.blocks{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border:1px solid #fff;
    justify-content: center;
    align-items: center;
}

.blocks:hover{
    width: 200%;
}

.text{
    font-size: 2rem;
    color: #fff;
}

.block1{
    background: url("https://i.pinimg.com/564x/7f/d8/ba/7fd8bad3106cb9fcaaed4a70a26be8d5.jpg");
}

.block2{
    background: url("https://i.pinimg.com/564x/b5/79/60/b579608aeddbf3e76b8d458c6beb8fbe.jpg");
}

.block3{
    background: url("https://i.pinimg.com/564x/42/1d/0d/421d0d6b8beb625d35c39cef6e5349ae.jpg");
}

.block4{
    background: url("https://i.pinimg.com/736x/f3/a6/e0/f3a6e0215bca1f9726fedcc46926a98b.jpg");
}

.block5{
    background: url("https://i.pinimg.com/564x/3f/31/d9/3f31d9643c9fe0ed47133c25760b7e2e.jpg");
}


@media(max-width:800px)
{
    .container{
        flex-direction: column;
    }

    .blocks{
        height: 20vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blocks:hover{
       height:50vh;
       width: 100%;
    }
}